**IMPORT ALL NECESSARY MODULES**

In [32]:
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from  sklearn import model_selection
from sklearn.metrics import classification_report

**READ IN DATAFRAME**

In [33]:
df = pd.read_csv(f'C:/Users/user/Desktop/Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

**EXPLORE DATA AND WRANGLE THE DATA**

In [34]:
df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [35]:
df.isnull().sum(), df.dtypes

(CreditScore        0
 Geography          0
 Gender             0
 Age                0
 Tenure             0
 Balance            0
 NumOfProducts      0
 HasCrCard          0
 IsActiveMember     0
 EstimatedSalary    0
 Exited             0
 dtype: int64,
 CreditScore          int64
 Geography           object
 Gender              object
 Age                  int64
 Tenure               int64
 Balance            float64
 NumOfProducts        int64
 HasCrCard            int64
 IsActiveMember       int64
 EstimatedSalary    float64
 Exited               int64
 dtype: object)

In [36]:
print(df['Gender'].unique())
print(df['Gender'].value_counts())

['Female' 'Male']
Male      5457
Female    4543
Name: Gender, dtype: int64

In [37]:
df1 = pd.get_dummies(df, columns=['Gender','Geography'], drop_first=True)
df1

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Male,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,0,0
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,1,0
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [38]:
cols_to_scale = ['Tenure','EstimatedSalary','Balance', 'CreditScore']
scaler = MinMaxScaler()
df1[cols_to_scale] = scaler.fit_transform(df1[cols_to_scale])
df1

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Male,Geography_Germany,Geography_Spain
0,0.538,42,0.2,0.000000,1,1,1,0.506735,1,0,0,0
1,0.516,41,0.1,0.334031,1,0,1,0.562709,0,0,0,1
2,0.304,42,0.8,0.636357,3,1,0,0.569654,1,0,0,0
3,0.698,39,0.1,0.000000,2,0,0,0.469120,0,0,0,0
4,1.000,43,0.2,0.500246,1,1,1,0.395400,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.842,39,0.5,0.000000,2,1,0,0.481341,0,1,0,0
9996,0.332,35,1.0,0.228657,1,1,1,0.508490,0,1,0,0
9997,0.718,36,0.7,0.000000,1,0,1,0.210390,1,0,0,0
9998,0.844,42,0.3,0.299226,2,1,0,0.464429,1,1,1,0
9999,0.884,28,0.4,0.518708,1,1,0,0.190914,0,0,0,0

In [39]:
X = df1.drop(['Exited'], axis='columns')
y = df1.Exited
y.value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

**SPLIT INTO TRAINING AND TESTING SET**

In [40]:
x_train,x_test,y_train,y_test = model_selection.train_test_split(X, y, test_size=0.2, random_state=5)

In [41]:
x_train.shape, y_train.value_counts()

((8000, 11),
 0    6368
 1    1632
 Name: Exited, dtype: int64)

**MODEL BUILDING**

In [73]:
def ANN (x_train,x_test,y_train,y_test):
    model = keras.Sequential([
        keras.layers.Dense(100, input_shape=(x_train.shape[1],), activation='relu'),
        keras.layers.Dense(50, activation='relu'),
        keras.layers.Dense(25, activation='relu'),
        keras.layers.Dense(1, activation='sigmoid')
        ])

    # opt = keras.optimizers.Adam(learning_rate=0.01)

    model.compile(optimizer='adam',
                  loss='binary_crossentropy',
                  metrics=['accuracy'])

    model.fit(x_train, y_train, epochs=50)
    y_pred = model.predict(x_test)
    y_pred = np.round(y_pred)
    print('Classification report:   \n', classification_report(y_test, y_pred))

In [43]:
ANN(x_train,x_test,y_train,y_test)

Epoch 1/50
250/250 [==============================] - 3s 4ms/step - loss: 0.8079 - accuracy: 0.7947
Epoch 2/50
250/250 [==============================] - 1s 4ms/step - loss: 0.4809 - accuracy: 0.8006
Epoch 3/50
250/250 [==============================] - 1s 4ms/step - loss: 0.4592 - accuracy: 0.8089
Epoch 4/50
250/250 [==============================] - 1s 4ms/step - loss: 0.4491 - accuracy: 0.8133
Epoch 5/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4470 - accuracy: 0.8114
Epoch 6/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4473 - accuracy: 0.8115
Epoch 7/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4465 - accuracy: 0.8124
Epoch 8/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4427 - accuracy: 0.8120
Epoch 9/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4409 - accuracy: 0.8126
Epoch 10/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4408 - accuracy: 0.8112
Epoch 11/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4396 - accuracy: 0.8142
Epoch 12/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4392 - accuracy: 0.8111
Epoch 13/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4372 - accuracy: 0.8127
Epoch 14/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4384 - accuracy: 0.8154
Epoch 15/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4366 - accuracy: 0.8138
Epoch 16/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4390 - accuracy: 0.8140
Epoch 17/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4396 - accuracy: 0.8091
Epoch 18/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4364 - accuracy: 0.8105
Epoch 19/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4354 - accuracy: 0.8121
Epoch 20/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4350 - accuracy: 0.8138
Epoch 21/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4373 - accuracy: 0.8119
Epoch 22/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4362 - accuracy: 0.8106
Epoch 23/50
250/250 [==============================] - 1s 5ms/step - loss: 0.4342 - accuracy: 0.8151
Epoch 24/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4351 - accuracy: 0.8130
Epoch 25/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4347 - accuracy: 0.8126
Epoch 26/50
250/250 [==============================] - 1s 5ms/step - loss: 0.4328 - accuracy: 0.8125
Epoch 27/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4328 - accuracy: 0.8131
Epoch 28/50
250/250 [==============================] - 1s 4ms/step - loss: 0.4346 - accuracy: 0.8100
Epoch 29/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4319 - accuracy: 0.8120
Epoch 30/50
250/250 [==============================] - 1s 4ms/step - loss: 0.4313 - accuracy: 0.8114
Epoch 31/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4327 - accuracy: 0.8126
Epoch 32/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4328 - accuracy: 0.8129
Epoch 33/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4320 - accuracy: 0.8117
Epoch 34/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4324 - accuracy: 0.8133
Epoch 35/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4303 - accuracy: 0.8141
Epoch 36/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4297 - accuracy: 0.8136
Epoch 37/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4301 - accuracy: 0.8131
Epoch 38/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4291 - accuracy: 0.8159
Epoch 39/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4305 - accuracy: 0.8146
Epoch 40/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4293 - accuracy: 0.8138
Epoch 41/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4285 - accuracy: 0.8161
Epoch 42/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4267 - accuracy: 0.8167
Epoch 43/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4288 - accuracy: 0.8152
Epoch 44/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4300 - accuracy: 0.8155
Epoch 45/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4280 - accuracy: 0.8164
Epoch 46/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4291 - accuracy: 0.8167
Epoch 47/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4271 - accuracy: 0.8154
Epoch 48/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4253 - accuracy: 0.8151
Epoch 49/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4250 - accuracy: 0.8183
Epoch 50/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4243 - accuracy: 0.8181
63/63 [==============================] - 0s 2ms/step
Classification report:
               precision    recall  f1-score   support

           0       0.82      0.98      0.89      1595
           1       0.68      0.14      0.23       405

    accuracy                           0.81      2000
   macro avg       0.75      0.56      0.56      2000
weighted avg       0.79      0.81      0.76      2000

**HANDLING IMBALANCE IN DATASET TO IMPROVE F1 SCORE**

1. UNDERSAMPLING THE MAJORITY CLASS

In [50]:
df_not_exited = df1[df1.Exited == 0]
df_exited = df1[df1.Exited == 1]

count_exited = df_exited.shape[0]
count_not_exited = df_not_exited.shape[0]
count_exited, count_not_exited

(2037, 7963)

In [54]:
df_not_exited_undersample = df_not_exited.sample(count_exited)
df_not_exited_undersample.shape

(2037, 12)

In [46]:
undersampled_combined_df = pd.concat([df_not_exited_undersample, df_exited], axis=0)
undersampled_combined_df['Exited'].value_counts()

0    2037
1    2037
Name: Exited, dtype: int64

In [47]:
X = undersampled_combined_df.drop(['Exited'], axis=1)
y = undersampled_combined_df.Exited

x_train_US,x_test_US,y_train_US,y_test_US = model_selection.train_test_split(X, y, test_size=0.2, random_state=5, stratify=y)

In [48]:
ANN(x_train_US,x_test_US,y_train_US,y_test_US)

Epoch 1/50
102/102 [==============================] - 1s 2ms/step - loss: 0.7216 - accuracy: 0.4817
Epoch 2/50
102/102 [==============================] - 0s 2ms/step - loss: 0.6638 - accuracy: 0.6020
Epoch 3/50
102/102 [==============================] - 0s 2ms/step - loss: 0.6292 - accuracy: 0.6646
Epoch 4/50
102/102 [==============================] - 0s 2ms/step - loss: 0.6131 - accuracy: 0.6809
Epoch 5/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5997 - accuracy: 0.6947
Epoch 6/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5962 - accuracy: 0.6852
Epoch 7/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5938 - accuracy: 0.6849
Epoch 8/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5894 - accuracy: 0.6941
Epoch 9/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5893 - accuracy: 0.6932
Epoch 10/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5904 - accuracy: 0.6904
Epoch 11/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5827 - accuracy: 0.6950
Epoch 12/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5842 - accuracy: 0.6935
Epoch 13/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5838 - accuracy: 0.6901
Epoch 14/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5861 - accuracy: 0.6852
Epoch 15/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5848 - accuracy: 0.6889
Epoch 16/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5858 - accuracy: 0.6929
Epoch 17/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5800 - accuracy: 0.6935
Epoch 18/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5797 - accuracy: 0.6978
Epoch 19/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5809 - accuracy: 0.6935
Epoch 20/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5773 - accuracy: 0.6978
Epoch 21/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5834 - accuracy: 0.6959
Epoch 22/50
102/102 [==============================] - 0s 3ms/step - loss: 0.5829 - accuracy: 0.6962
Epoch 23/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5829 - accuracy: 0.6910
Epoch 24/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5822 - accuracy: 0.6938
Epoch 25/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5794 - accuracy: 0.6950
Epoch 26/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5814 - accuracy: 0.6944
Epoch 27/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5810 - accuracy: 0.6993
Epoch 28/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5799 - accuracy: 0.6968
Epoch 29/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5803 - accuracy: 0.6947
Epoch 30/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5779 - accuracy: 0.6975
Epoch 31/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5778 - accuracy: 0.6996
Epoch 32/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5787 - accuracy: 0.7011
Epoch 33/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5810 - accuracy: 0.6962
Epoch 34/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5797 - accuracy: 0.6981
Epoch 35/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5797 - accuracy: 0.6962
Epoch 36/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5823 - accuracy: 0.6932
Epoch 37/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5784 - accuracy: 0.7008
Epoch 38/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5786 - accuracy: 0.7002
Epoch 39/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5775 - accuracy: 0.7005
Epoch 40/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5782 - accuracy: 0.7067
Epoch 41/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5807 - accuracy: 0.7045
Epoch 42/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5768 - accuracy: 0.7014
Epoch 43/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5750 - accuracy: 0.7014
Epoch 44/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5785 - accuracy: 0.6956
Epoch 45/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5796 - accuracy: 0.6956
Epoch 46/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5785 - accuracy: 0.7002
Epoch 47/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5750 - accuracy: 0.7057
Epoch 48/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5743 - accuracy: 0.7024
Epoch 49/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5752 - accuracy: 0.6981
Epoch 50/50
102/102 [==============================] - 0s 2ms/step - loss: 0.5768 - accuracy: 0.7048
26/26 [==============================] - 0s 1ms/step
Classification report:
               precision    recall  f1-score   support

           0       0.66      0.78      0.71       407
           1       0.73      0.60      0.66       408

    accuracy                           0.69       815
   macro avg       0.70      0.69      0.69       815
weighted avg       0.70      0.69      0.69       815

2. OVERSAMPLING OF MINORITY CLASS

In [52]:
count_exited, count_not_exited

(2037, 7963)

In [55]:
df_exited_oversample = df_exited.sample(count_not_exited, replace=True)
oversampled_combined_df = pd.concat([df_exited_oversample, df_not_exited], axis=0)

X = oversampled_combined_df.drop(['Exited'], axis=1)
y = oversampled_combined_df.Exited

x_train_OS,x_test_OS,y_train_OS,y_test_OS = model_selection.train_test_split(X, y, test_size=0.2, random_state=5, stratify=y)

In [56]:
ANN(x_train_OS,x_test_OS,y_train_OS,y_test_OS)

Epoch 1/50
399/399 [==============================] - 2s 2ms/step - loss: 0.6222 - accuracy: 0.6522
Epoch 2/50
399/399 [==============================] - 1s 2ms/step - loss: 0.5943 - accuracy: 0.6805
Epoch 3/50
399/399 [==============================] - 1s 2ms/step - loss: 0.5907 - accuracy: 0.6898
Epoch 4/50
399/399 [==============================] - 1s 2ms/step - loss: 0.5908 - accuracy: 0.6865
Epoch 5/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5853 - accuracy: 0.6898
Epoch 6/50
399/399 [==============================] - 1s 2ms/step - loss: 0.5865 - accuracy: 0.6901
Epoch 7/50
399/399 [==============================] - 1s 2ms/step - loss: 0.5826 - accuracy: 0.6949
Epoch 8/50
399/399 [==============================] - 1s 2ms/step - loss: 0.5826 - accuracy: 0.6951
Epoch 9/50
399/399 [==============================] - 1s 2ms/step - loss: 0.5817 - accuracy: 0.6973
Epoch 10/50
399/399 [==============================] - 1s 2ms/step - loss: 0.5821 - accuracy: 0.6962
Epoch 11/50
399/399 [==============================] - 1s 2ms/step - loss: 0.5776 - accuracy: 0.6994
Epoch 12/50
399/399 [==============================] - 1s 2ms/step - loss: 0.5751 - accuracy: 0.7041
Epoch 13/50
399/399 [==============================] - 1s 2ms/step - loss: 0.5686 - accuracy: 0.7095
Epoch 14/50
399/399 [==============================] - 1s 2ms/step - loss: 0.5601 - accuracy: 0.7173
Epoch 15/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5554 - accuracy: 0.7191
Epoch 16/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5493 - accuracy: 0.7231
Epoch 17/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5432 - accuracy: 0.7274
Epoch 18/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5379 - accuracy: 0.7342
Epoch 19/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5313 - accuracy: 0.7426
Epoch 20/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5264 - accuracy: 0.7400
Epoch 21/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5256 - accuracy: 0.7415
Epoch 22/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5194 - accuracy: 0.7499
Epoch 23/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5181 - accuracy: 0.7487
Epoch 24/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5136 - accuracy: 0.7507
Epoch 25/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5132 - accuracy: 0.7503
Epoch 26/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5103 - accuracy: 0.7499
Epoch 27/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5089 - accuracy: 0.7532
Epoch 28/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5067 - accuracy: 0.7535
Epoch 29/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5053 - accuracy: 0.7551
Epoch 30/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5046 - accuracy: 0.7535
Epoch 31/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5038 - accuracy: 0.7555
Epoch 32/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5018 - accuracy: 0.7571
Epoch 33/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5005 - accuracy: 0.7558
Epoch 34/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5008 - accuracy: 0.7571
Epoch 35/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4982 - accuracy: 0.7560
Epoch 36/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4979 - accuracy: 0.7572
Epoch 37/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5009 - accuracy: 0.7576
Epoch 38/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4977 - accuracy: 0.7593
Epoch 39/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4969 - accuracy: 0.7608
Epoch 40/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4974 - accuracy: 0.7582
Epoch 41/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4963 - accuracy: 0.7578
Epoch 42/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4951 - accuracy: 0.7576
Epoch 43/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4987 - accuracy: 0.7567
Epoch 44/50
399/399 [==============================] - 2s 4ms/step - loss: 0.4952 - accuracy: 0.7592
Epoch 45/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4970 - accuracy: 0.7572
Epoch 46/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4935 - accuracy: 0.7600
Epoch 47/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4953 - accuracy: 0.7595
Epoch 48/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4943 - accuracy: 0.7600
Epoch 49/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4948 - accuracy: 0.7581
Epoch 50/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4947 - accuracy: 0.7586
100/100 [==============================] - 0s 2ms/step
Classification report:
               precision    recall  f1-score   support

           0       0.76      0.77      0.76      1593
           1       0.76      0.76      0.76      1593

    accuracy                           0.76      3186
   macro avg       0.76      0.76      0.76      3186
weighted avg       0.76      0.76      0.76      3186

3. USING SMOTE

In [67]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(sampling_strategy='minority')
X = df1.drop(['Exited'], axis='columns')
y = df1.Exited
y.value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [68]:
X_sm, y_sm = smote.fit_resample(X, y)
y_sm.value_counts()

1    7963
0    7963
Name: Exited, dtype: int64

In [74]:
x_train_sm,x_test_sm,y_train_sm,y_test_sm = model_selection.train_test_split(X_sm, y_sm, test_size=0.2, random_state=5, stratify=y_sm)
ANN(x_train_sm,x_test_sm,y_train_sm,y_test_sm)

Epoch 1/50
399/399 [==============================] - 2s 3ms/step - loss: 0.6381 - accuracy: 0.6551
Epoch 2/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5664 - accuracy: 0.7065
Epoch 3/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5581 - accuracy: 0.7143
Epoch 4/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5503 - accuracy: 0.7251
Epoch 5/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5378 - accuracy: 0.7271
Epoch 6/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5262 - accuracy: 0.7381
Epoch 7/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5160 - accuracy: 0.7451
Epoch 8/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5112 - accuracy: 0.7498
Epoch 9/50
399/399 [==============================] - 1s 3ms/step - loss: 0.5011 - accuracy: 0.7542
Epoch 10/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4916 - accuracy: 0.7588
Epoch 11/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4870 - accuracy: 0.7593
Epoch 12/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4881 - accuracy: 0.7577
Epoch 13/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4757 - accuracy: 0.7670
Epoch 14/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4768 - accuracy: 0.7618
Epoch 15/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4669 - accuracy: 0.7697
Epoch 16/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4667 - accuracy: 0.7701
Epoch 17/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4664 - accuracy: 0.7670
Epoch 18/50
399/399 [==============================] - 2s 4ms/step - loss: 0.4627 - accuracy: 0.7728
Epoch 19/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4609 - accuracy: 0.7714
Epoch 20/50
399/399 [==============================] - 2s 5ms/step - loss: 0.4576 - accuracy: 0.7730
Epoch 21/50
399/399 [==============================] - 2s 4ms/step - loss: 0.4594 - accuracy: 0.7690
Epoch 22/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4518 - accuracy: 0.7776
Epoch 23/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4535 - accuracy: 0.7759
Epoch 24/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4518 - accuracy: 0.7766
Epoch 25/50
399/399 [==============================] - 1s 4ms/step - loss: 0.4483 - accuracy: 0.7772
Epoch 26/50
399/399 [==============================] - 1s 4ms/step - loss: 0.4495 - accuracy: 0.7776
Epoch 27/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4487 - accuracy: 0.7781
Epoch 28/50
399/399 [==============================] - 1s 4ms/step - loss: 0.4454 - accuracy: 0.7786
Epoch 29/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4452 - accuracy: 0.7796
Epoch 30/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4456 - accuracy: 0.7794
Epoch 31/50
399/399 [==============================] - 1s 4ms/step - loss: 0.4423 - accuracy: 0.7821
Epoch 32/50
399/399 [==============================] - 1s 4ms/step - loss: 0.4410 - accuracy: 0.7861
Epoch 33/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4393 - accuracy: 0.7841
Epoch 34/50
399/399 [==============================] - 2s 4ms/step - loss: 0.4385 - accuracy: 0.7837
Epoch 35/50
399/399 [==============================] - 2s 4ms/step - loss: 0.4373 - accuracy: 0.7875
Epoch 36/50
399/399 [==============================] - 1s 4ms/step - loss: 0.4354 - accuracy: 0.7874
Epoch 37/50
399/399 [==============================] - 1s 4ms/step - loss: 0.4355 - accuracy: 0.7882
Epoch 38/50
399/399 [==============================] - 1s 4ms/step - loss: 0.4343 - accuracy: 0.7889
Epoch 39/50
399/399 [==============================] - 1s 4ms/step - loss: 0.4330 - accuracy: 0.7908
Epoch 40/50
399/399 [==============================] - 1s 4ms/step - loss: 0.4321 - accuracy: 0.7897
Epoch 41/50
399/399 [==============================] - 1s 4ms/step - loss: 0.4315 - accuracy: 0.7937
Epoch 42/50
399/399 [==============================] - 2s 4ms/step - loss: 0.4322 - accuracy: 0.7909
Epoch 43/50
399/399 [==============================] - 2s 4ms/step - loss: 0.4313 - accuracy: 0.7910
Epoch 44/50
399/399 [==============================] - 2s 4ms/step - loss: 0.4313 - accuracy: 0.7923
Epoch 45/50
399/399 [==============================] - 2s 4ms/step - loss: 0.4263 - accuracy: 0.7919
Epoch 46/50
399/399 [==============================] - 1s 4ms/step - loss: 0.4273 - accuracy: 0.7965
Epoch 47/50
399/399 [==============================] - 1s 4ms/step - loss: 0.4271 - accuracy: 0.7958
Epoch 48/50
399/399 [==============================] - 1s 4ms/step - loss: 0.4262 - accuracy: 0.7995
Epoch 49/50
399/399 [==============================] - 1s 3ms/step - loss: 0.4236 - accuracy: 0.7983
Epoch 50/50
399/399 [==============================] - 2s 4ms/step - loss: 0.4254 - accuracy: 0.7975
100/100 [==============================] - 0s 2ms/step
Classification report:
               precision    recall  f1-score   support

           0       0.78      0.82      0.80      1593
           1       0.81      0.76      0.79      1593

    accuracy                           0.79      3186
   macro avg       0.79      0.79      0.79      3186
weighted avg       0.79      0.79      0.79      3186

FROM COMPARING ALL THE ABOVE, SMOTE HAS BETTER PERFORMANCE.